a{
	text-decoration: none;
}
.side-container{
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	max-width: 200px;
	height: 100vh;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	
}

.side-header{
	font-family: "Nunito", sans-serif;
	background-color: rgb(255, 255, 255);
	margin: 32px 0 32px 24px;
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	border-radius: 99px;
}

.side-header button{
	text-align: center;
	height: 24px;
	width: 24px;
	border-radius: 99px;
	border: 0;
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	transition: 0.5s;
	transform: rotate(30);
}

.side-header button:hover{
	color: #fff;
	background-color: orange;
	display: inline-block;
	transform: rotate(-90deg);
}

.side-header h1{
	display: flex;
	width: 168px;
	height: 4vh;
	justify-content: center;
	align-items: center;
}

.side-header h1 span {
	color: orange;
}

.side-items nav{
	display: flex;
	flex-direction: column;
	background-color: azure;
	width: 168px;
	height: 400px;
	
}

.side-items nav ul{
	width: 168px;
	height: 156px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 24px;
}

.side-items nav ul p{
	color: rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	font-size: 16px;
}

.side-items nav ul li{
	display: flex;
	width: 168px;
	height: 24px;
	color: rgba(0, 0, 0, 0.4);
	background-color: #D9D9D9;
	border-radius: 4px;
	transition: 0.2s;
	align-items: center;
}

.side-items nav ul li:hover{	
	background-color: orange;
	
}

.side-items nav ul li a{
	display: flex;
	width: 168px;
	height: 24px;
	color: rgb(71, 65, 65);
	font-size: 16px;
	transition: 0.2s;
	align-items: center;
	
}

.side-items nav ul li a:hover{
	color: #fff;
}